doctype html

html
    head
        if typeof(requireJSConfig) != 'undefined'
            script.
                var require = !{JSON.stringify(requireJSConfig)}
        link(href="/css/test.css",rel="stylesheet")
        script(data-main="/js/main.js", src="/js/require.js")

    body
        p Hello,here is my profile on elance ,click my profile link and will be open in a new window .
            br
            a(target='_BLANK', href='http://junyong.elance.com') https://junyong.elance.com

        h1 Hashinator


        | Input:
        input#input(value="Type something")
        button#hashIt
            span Get Hashes!

        br

        table
            tr
                td MD5
                td#md5 --
            tr
                td SHA1
                td#sha1 --
            tr
                td SHA256
                td#sha256 --
            tr
                td Scrypt (N:1024, r:1, p:1)
                td#scrypt --